@import '~bootstrap/scss/bootstrap';

.myItem{
    border: 1px solid black;
    padding: 10px;
    background:bisque;
    margin: 5px;
    &:hover{
        box-shadow: 5px 5px 5px grey;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}