@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: inherit;
    }
}
.myItem{
    border: 1px solid black;
    padding: 10px;
    background:bisque;
    margin: 5px;
    width: 200px;
    &:hover{
        box-shadow: 5px 5px 5px grey;
    }
}
.myItemSingle{
    border: 1px solid black;
    padding: 10px;
    background:bisque;
    margin: 5px;
    // width: 100%;
    text-align: center;
    .cmd-single{

    }
}
header{
    height: 10vh;
    background: firebrick;
    i{
        font-size: 30px;
        color: white;
    }
    h1{
        color: white;
    }
}

.addNew{
    button{
        padding: 10px 10px 10px 10px;
        background-color: green;
        i{
            color: white;
            width: 30px;
        }
    }
}